<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1 class="title">Blog Articles</h1>
        <a href="/articles/newAricles" class="btn btn-success">New Articles</a>
        <a href="/articles" class="btn btn-success">Articles</a>
      </div>
    </div>
  </body>
</html>
